*{
    margin: 0;
    padding: 0;
}

.nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    list-style: none;
}


body {
    background-color: rgb(121, 117, 117);
}

.qty-display {
    color: white;
}